{% extends 'blog/base.html' %} {% load custom_tags %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      {% for post in posts %}
      <div class="card mb-5">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-row align-items-center">
              <img
                class="img-fluid rounded-circle account-img"
                src="{{ post.author.profile.image.url }}"
                alt="{{ post.author }}"
              />
              <div class="ms-3">
                <a href="{% url 'user-posts' username=post.author.username %}">
                  {{ post.author }}
                </a>
                <small class="text-muted d-block">
                  {{ post.date_created|date:"F d, Y" }}
                </small>
                <a
                  href="{% url 'post_author_t10' username=post.author.username %}"
                >
                  {{ post.author }}'s T10
                </a>
              </div>
            </div>
            {% if user == post.author %}
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                •••
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'delete-post' pk=post.pk %}"
                  >
                    DELETE
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'update-post' pk=post.pk %}"
                  >
                    EDIT
                  </a>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">{{ post.post_text }}</p>
        </div>
        <div class="d-flex flex-row">
          <div class="card-body">
            <img
              src="{{ post.film.img_url }}"
              class="card-img-top square-image"
              alt="{{ post.film.title }}"
            />
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ post.film.title }}</h5>
            <p class="card-text">{{ post.film.year }}</p>
            <a href="{% url 'post-detail' pk=post.pk %}" class="card-text">
              {{ post.film.description|truncatechars:200 }}
            </a>

            <ul class="list-group list-group-flush">
              <li class="list-group-item text-warning fs-5">
                IMDB {{ post.film.rating }}
              </li>
              <li class="list-group-item text-primary fs-5">
                {{ post.film.ranking }}
              </li>
              <li class="list-group-item">{{ post.film.review }}</li>
            </ul>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <div class="like-container">
            <div class="like-content">
              {% if post_is_liked|get_item:post.pk %}
              <a
                href="{% url 'like-post' pk=post.pk %}"
                class="btn btn-like"
                data-post-id="{{ post.pk }}"
              >
                ❤️
              </a>
              {% else %}
              <a
                href="{% url 'like-post' pk=post.pk %}"
                class="btn btn-like"
                data-post-id="{{ post.pk }}"
              >
                🤍
              </a>
              {% endif %}
              <span class="like_count_{{ post.pk }}"
                >{{ post_likes_count|get_item:post.pk }}</span
              >
            </div>
          </div>
          <a href="{% url 'post-detail' pk=post.pk %}" class="btn btn-comment">
            🗯 {{ post_comment_count|get_item:post.pk }}
          </a>
        </div>
      </div>
      {% endfor %}
      <a href="{% url 'user-films' %}" class="btn btn-success mt-5 mb-5">
        Add Post
      </a>
    </div>
  </div>
</div>

<!-- Include jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(document).ready(function () {
    // Function to handle like/unlike click event
    $(".btn-like").click(function (e) {
      e.preventDefault(); // Prevent default link behavior

      var postId = $(this).data("post-id"); // Get post ID from data attribute
      var likeBtn = $(this); // Reference to the like button

      // AJAX request to like/unlike post
      $.ajax({
        url: $(this).attr("href"), // URL to like_post view
        type: "POST",
        dataType: "json",
        beforeSend: function (xhr, settings) {
          // Include CSRF token in the request headers
          xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function (response) {
          // Update like count
          $(".like_count_" + postId).text(response.likes_count);

          // Toggle emojis based on user action
          if (response.is_liked) {
            likeBtn.text("❤️"); // Change to red heart
          } else {
            likeBtn.text("🤍"); // Change to white heart
          }
        },
        error: function (xhr, status, error) {
          // Handle 401 Unauthorized response
          if (xhr.status === 401) {
            var response = JSON.parse(xhr.responseText);
            window.location.href = response.redirect;
          } else {
            // Handle other errors
            console.error(xhr.responseText);
          }
        },
      });
    });

    // Function to handle hover event to show likes
    $(".btn-like").hover(function () {
      var postId = $(this).data("post-id"); // Get post ID from data attribute
      var likeBtn = $(this); // Reference to the like button

      // AJAX request to get likes
      $.ajax({
        url: "/get-likes/" + postId + "/", // URL to get_likes view
        type: "GET",
        dataType: "json",
        success: function (response) {
          // Create tooltip content
          var tooltipContent = response.usernames.join(", ");
          likeBtn.attr("title", tooltipContent); // Set tooltip content
          likeBtn.tooltip({ trigger: "hover" }); // Initialize tooltip
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText);
        },
      });
    });
  });
</script>
{% endblock %}
