{% extends 'blog/base.html' %} {% load custom_tags %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      {% for post in posts %}
      <div class="card mb-5">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-row align-items-center">
              <img
                class="img-fluid rounded-circle account-img"
                src="{{ post.author.profile.image.url }}"
                alt="{{ post.author }}"
              />
              <div class="ms-3">
                <a href="{% url 'user-posts' username=post.author.username  %}"
                  >{{ post.author }}</a
                >

                <small class="text-muted d-block"
                  >{{ post.date_created|date:"F d, Y" }}</small
                >
                <a
                  href="{% url 'post_author_t10' username=post.author.username %}"
                  >{{post.author}}'s T10</a
                >
              </div>
            </div>
            {% if user == post.author %}
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                •••
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'delete-post' pk=post.pk %}"
                    >DELETE</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'update-post' pk=post.pk %}"
                    >EDIT</a
                  >
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>

        <div class="card-body">
          <p class="card-text">{{ post.post_text }}</p>
        </div>
        <div class="d-flex flex-row">
          <div class="card-body">
            <img
              src="{{ post.film.img_url }}"
              class="card-img-top square-image"
              alt="{{ post.film.title }}"
            />
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ post.film.title }}</h5>
            <p class="card-text">{{ post.film.year }}</p>
            <a href="{% url 'post-detail' pk=post.pk %}" class="card-text">
              {{ post.film.description|truncatechars:200 }}
            </a>

            <ul class="list-group list-group-flush">
              <li class="list-group-item text-warning fs-5">
                IMDB {{ post.film.rating }}
              </li>
              <li class="list-group-item text-primary fs-5">
                {{ post.film.ranking }}
              </li>
              <li class="list-group-item">{{ post.film.review }}</li>
            </ul>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
          {% if post_is_liked|get_item:post.pk %}
          <div class="like-container">
            <button
              data-url="{% url 'like-post' pk=post.pk %}"
              class="btn btn-like"
            >
              ❤️{{ post_likes_count|get_item:post.pk }}
            </button>
            <div class="like-tooltip">
              {{ post_like_authors|get_item:post.pk }}
            </div>
          </div>
          {% else %}
          <div class="like-container">
            <button
              data-url="{% url 'like-post' pk=post.pk %}"
              class="btn btn-like"
            >
              🤍{{ post_likes_count|get_item:post.pk }}
            </button>
            <div class="like-tooltip">
              {{ post_like_authors|get_item:post.pk }}
            </div>
          </div>

          {% endif %}

          <a href="{% url 'post-detail' pk=post.pk %}" class="btn btn-comment">
            🗯 {{ post_comment_count|get_item:post.pk }}
          </a>
        </div>
        {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          $(document).ready(function () {
            $(".btn-like").click(function (event) {
              event.preventDefault();
              var url = $(this).data("url");
              var btn = $(this);
              $.ajax({
                url: url,
                success: function (response) {
                  btn.text(
                    (response.is_liked ? "❤️" : "🤍") + response.likes_count
                  );
                },
              });
            });
          });
        </script>
        {% endblock %}
      </div>
      {% empty %}
      <div class="text-center">
        <h1>No posts yet</h1>
      </div>
      {% endfor %}
      <a href="{% url 'user-films' %}" class="btn btn-success mt-5 mb-5"
        >Add Post</a
      >
    </div>
  </div>
</div>
{% endblock %}
