{% extends 'blog/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container mt-5 login-div border p-4">
  <h2 class="mb-4 text-center">Password Reset</h2>
  <div class="text-center">
    <h5>
      Forgot your password? Please enter the email address you used to register
      with us, and we will send you a link to reset your password.
    </h5>
  </div>

  <form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}

    <!-- Email -->
    <div class="mb-3">
      {{ form.email|as_crispy_field }}
      <div class="invalid-feedback">{{ form.email.errors|join:", " }}</div>
    </div>

    <button class="btn btn-primary btn-block mt-4" type="submit">
      Send Email
    </button>

    <div class="mt-4 text-center">
      <a href="{% url 'blog-home' %}" class="btn btn-link"
        >Return to Home Page</a
      >
    </div>
  </form>
</div>
{% endblock %}
